extends admin-layout
block content
    h2 #{title}
    form(action='/order/add', method="POST")
        #form-group
            Label Order ID
            input.form-control(name="id", type="text")
        #form-group
            Label Item ID
            input.form-control(name="id", type="text")
        #form-group
            Label Quantity
            input.form-control(name="id", type="text")
        #form-group
            Label Purchased Date
            input.form-control(name="id", type="date")
        input.btn.btn-primary(type="submit", value="Submit")