extends admin-layout
block content
    h2 #{title}
    form(action='/item/add', method="POST")
        #form-group
            Label Item ID
            input.form-control(name="id", type="text",)
        #form-group
            Label Item Name
            input.form-control(name="id", type="text")
        #form-group
            Label Brand
            input.form-control(name="id", type="text")
        #form-group
            Label Price
            input.form-control(name="id", type="text")
        input.btn.btn-primary(type="submit", value="Submit")