extends layout
block content
    h1 Shop
    
    .inventory
        each item, i in inventory
            .responsive
                .gallery
                    img(src='img_fjords.jpg', alt='', width='300', height='200')
                    .desc 
                        h4= item.name
                        p= item.price

                    a.btn.btn-primary(href='#' value=item.id) Add to cart!
