extends layout
block content
    h1 Shop
    
    div.inventory
        each item, i in inventory
            div.inventory-item
                h2= item.name
                p= item.brand
                p= "$" + item.price
