body{
    color:black;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.container{
    margin:auto;
    align-items: center;
}

.inventory{
    display: flex;
    flex-wrap: wrap;
}

.inventory h2{
    font-size: 1.1em;
}

.inventory-item{
    transition: all .4s;
    text-align: center;
    padding: .5em;
    width: 33.333%;
    background-color: grey;
    color: white;
}

.inventory-item:hover{
    background-color: rgb(82, 82, 82);
}